<header class="navbar navbar-default fixed" role="banner">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button"
              data-template="components/navbar/navbar-aside.tpl.html"
              data-animation="am-fade-and-slide-left"
              data-placement="left" title="Navigation" data-container="body" bs-aside>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="TrakR">
        <img class="img-responsive" src="images/logo.png">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-menu">
        <li navbar-items></li>
      </ul>
    </nav>
</header>