@import (reference) "../../app.less";
@radius: 12px;
.rounded {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.phone {
  >.phone-multi-video {
    z-index: 2;
    min-height: 413px;
    .video {
      .rounded();
      background-color: #222;
      .overlayPlayContainer {
        .play {
          color: @baseDark;
        }
      }
    }
    video {
      min-height: 413px;
      .rounded();
      background-color: transparent;
    }
  }
}